/***************************************************
 Widget plugin - styling for Covid-19 7 days Incidence Widget
***************************************************/

/*  gesamtes Widget div bekommt Klasse widget_<class-name-in-lcase>*/

.widget_covid19inzidenzampel .c197di {
	clear: both;
	width: 96%;
	margin: 10px 0;
	padding: 10px 2%;
	font: arial, sans-serif;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.8rem;
	background-color: #fff;
}
.widget_covid19inzidenzampel .c197di a:link,
.widget_covid19inzidenzampel .c197di a:visited {
	text-decoration: none;
	color: #f78a04;
}
.widget_covid19inzidenzampel .c197di a:hover, .c197di a:active {
	text-decoration: underline;
	color: #512e03;
}